# Runs all tests on master everyday at 10 am (UTC time)
name: Cron Testing

defaults:
  run:
    shell: bash

on:  # Runs on master branch on Mondays at 3am UTC time
  schedule:
    - cron:  '* 12 * * Sat'

jobs:
  tests:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest, windows-latest]
        # We escape with quotes so it doesn't get interpreted as float (e.g. 3.10 -> 3.1 by GA's parser)
        python-version: ["3.11", "3.12", "3.13"]  # add new versions when they are released
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          activate-environment: true
          cache-dependency-glob: pyproject.toml

      - name: Install package with test dependencies
        run: uv sync --all-extras --dev

      - name: Get acc-models-lhc
        run: git clone -b 2022 https://gitlab.cern.ch/acc-models/acc-models-lhc.git --depth 1

      - name: Run Tests
        run: make tests
