# Publishes to PyPI upon creation of a release
name: Upload Package to PyPI

defaults:
  run:
    shell: bash

on:  # Runs everytime a release is added to the repository
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
        python-version: "3.14"


    steps:
      - uses: actions/checkout@v5

      - name: Install uv and Python ${{ env.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.python-version }}
          enable-cache: true
          activate-environment: true
          cache-dependency-glob: pyproject.toml

      - name: Build wheels and sdist
        run: make build

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          print-hash: true
          password: ${{ secrets.PYPI_API_TOKEN }}
